<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<li class="list">
			<a class="navbar-brand a-nav" href="#">Playmate</a>
		</li>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active list">
					<a class="nav-link a-nav" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li>
					<%if(user != undefined){%>
					<img src="<%= user.image %>" alt="profile image" width="50" height="50"/>
					<%}%>
				</li>
			</ul>
		</div>
	</nav>
</header>