<div id='cssmenu'>
			<ul>
			   <li><a href='#'><span>Home</span></a></li>
			   <li><a href='#'><span>Events</span></a></li>
			   <li><a href='#'><span>Groups</span></a></li>
			   <li class='active has-sub'><a href='#'><span>More</span></a>
				  <ul>
					 <li class='has-sub'><a href='#'><span>Something 1</span></a>
						<ul>
						   <li><a href='#'><span>Sub Something</span></a></li>
						   <li class='last'><a href='#'><span>Sub Something</span></a></li>
						</ul>
					 </li>
					 <li class='has-sub'><a href='#'><span>Something 2</span></a>
						<ul>
						   <li><a href='#'><span>Sub Something</span></a></li>
						   <li class='last'><a href='#'><span>Sub Something</span></a></li>
						</ul>
					 </li>
				  </ul>
			   </li>
			</ul>
		</div>