<div class="friend-card text-right" style="margin-left: 0px;">
	    <img class="avatar" src="<%= message.image %>" alt="profile picture"/>
	    <div class="username"><%= message.name %></div>
	    <p><%= message.content %></p>
</div>