<div class="bottom-card">
	<label><h3> Group Name </h3></label>
	<div class="row bottom-card-info">
		<div class="col-sm-6">
			<p>Sport Type:</p>
			<p>Level:</p>
			<p>Ages:</p>
			<p>Date:</p>
			<p>Time:</p>
		</div>
		<div class="col-sm-6">
			
		</div>
	</div>
</div>