<div class="bottom-card">
	<label><h3> <%= content.username %> </h3></label>
	<div class="row bottom-card-info">
		<div class="col-sm-6">
			<p>Level:</p>
			<p>Exp:</p>
			<p>Age:</p>
		</div>
		<div class="col-sm-6">
			<img class="profile-pic" src="image/monkey.jpg" alt="Profile Picture">
		</div>
	</div>
</div>