		<link rel="stylesheet" type="text/css" href="/css/search.css">

	<div class="row">
		<div class="col-sm-7 col-centered">
			<div class="search-window">
				<form class="search-container" action="/results" method="POST">
					<input type="text" id="search-bar" name="search[name]" placeholder="What would you like to search for?">
					<button type="submit" id="search" class="search-button">Search</button>
					<button type="button" id="filters-button" class="filters-button" name="">Filter Options +</button>
						<div class="filters-window" id="filters-options">
							<div class="row">
								<div class="col-sm-6">
									<p>Sport type:</p>
									<select class="selectpicker filter-button-design" name="search[type]">
										<option selected value> -- Select an option -- </option>
										<option>Football</option>
										<option>BasketBall</option>
										<option>Running</option>
										<option>Swimming</option>
										<option>TRX</option>
										<option>Tennis</option>
										<option>Bowling</option>
									</select>
									<p>District:</p>
									<select class="selectpicker filter-button-design" name="search[district]">
										<option selected value> -- Select an option -- </option>
										<option>North</option>
										<option>Haifa</option>
										<option>Center</option>
										<option>Tel Aviv</option>
										<option>Jerusalem</option>
										<option>South</option>
										<option>Beer Sheva</option>
									</select>
								</div>
								<div class="col-sm-6">
									<p>Level:</p>
									<select class="selectpicker filter-button-design" name="search[level]">
										<option selected value> -- Select an option -- </option>
										<option>Noob</option>
										<option>Rookie</option>
										<option>Intermediate</option>
										<option>Advanced</option>
										<option>Master</option>
									</select>
									<p>Group/Event:</p>
									<select class="selectpicker filter-button-design" name="search[contentType]">
										<option selected>Group</option>
										<option>Event</option>
										<option>User Profile</option>
									</select>
								</div>
							</div>
						</div> 
				</form>
			</div>
		</div>
	</div>
			<script>
	<!-- Filters button -->
	$(document).ready(function(){
		$("#filters-options").hide();
		
		$("#filters-button").click(function(){
			$("#filters-options").toggle();
		});
	});
	
	<!-- Results section -->
	
	// $(document).ready(function(){
	// 	$("#results").hide();
		
	// 	$("#search").click(function(){
	// 		$("#results").show();
	// 	});
	// });
	</script>