<!doctype html>
<html>
    <head>
        <title>Playmate - About US</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/aboutUs.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <!--============================================ FONTS ==========================================-->
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather" rel="stylesheet">
        <!--============================================ Extras =========================================-->
        <% include partials/defaultLinks&Scripts %>
    </head>
    <body class="home-body">
        <div class="row m-0">
			<div class="titleHeader p-t-10 p-b-10 m-b-25">
				<div class="col-sm-12">
					<div class="container m-l-30">
						<h1 class="siteTitle">Playmate</h1>
						<h2 class="subtitle">Easily find sport partners</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
    		<article>
    			<section class="section1">
	    		    <h1 class="title">Our Story</h1>
	    		    <div class="row">
	    		    	<div class="col-sm-12 col-md-1"></div>
	    		    	<div class="col-sm-12 col-md-10">
					        <p class="par">
					            We are Playmate. We built a platform that provides a true solution to a known problem. <br> 
					            Let's say you want to go for jogging or cycling. Usually, if you want someone to do the activity with, <br> 
					            you reach your friends by calling or texting, or try to use the social media. <br>
					            most of the time this ways leave you frustrated, and delaying your workout.
					        </p>  
					        <p class="par">
					        	Our platform solves this problem by providing a place to find partners in different ways. <br>
					        	First, you can create events and let people join you in your activity. <br>
					        	Second, you can create groups to make an repeatable event. It was made to create teams. <br>
					        	And finaly, you are able to search and follow specific people to stay connected. Have fun!
					        </p>
					    </div>
			        	<div class="col-sm-12 col-md-1"></div>
			        </div>
			        <hr>
		        </section>
		        <section class="section2">
		        	<h1 class="title">Our Videos</h1>
			        <div class="row">
			        	<div class="col-sm-12 col-md-6">
			        		<h1 class="subtitle1">Commercial Video</h1>
			        		<iframe class="video" src="https://www.youtube.com/embed/mBcBRD_n5Uo?rel=0" 
			        		frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			        	</div>
			        	<div class="col-sm-12 col-md-6">
			        		<h1 class="subtitle1">Technical Video</h1>
			        		<iframe class="video" src="https://www.youtube.com/embed/tgH1KcikV3s?rel=0" 
			        		frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			        	</div>
			        </div>
			        <hr>
		        </section>
		        <section class="section3">
		        	<h1 class="title">Our Team</h1>
		        	<div class="row">
			        	<div class="col-sm-12 col-md-4">
			        		<div class="card">
								<img src="/css/images/asaf.jpg" alt="Avatar" style="width:100%">
								<div class="container">
									<h4 class="name"><b>Asaf Golob</b></h4> 
									<p>Beck-End Developer</p> 
								</div>
							</div>
			        	</div>
			        	<div class="col-sm-12 col-md-4">
			        		<div class="card">
								<img src="/css/images/zamir.jpg" alt="Avatar" style="width:100%">
								<div class="container">
									<h4 class="name"><b>Zamir Markovsky</b></h4> 
									<p>Front-End Developer</p> 
								</div>
							</div>
			        	</div>
			        	<div class="col-sm-12 col-md-4">
			        		<div class="card">
								<img src="/css/images/omri.jpg" alt="Avatar" style="width:100%">
								<div class="container">
									<h4 class="name"><b>Omri Silberman</b></h4> 
									<p>Front-End Developer</p> 
								</div>
							</div>
			        	</div>
			        </div>
		        </section>
		        <div class="container-login100-form-btn m-t-17">
					<a href="/" tabindex="3" class="login100-form-btn" style="margin-bottom: 20px">
						Back
					</a>
				</div>
    		</article>
		</div>
    </body>
</html>