<!doctype html>
<html>
    <head>
        <title>Playmate - About US</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/aboutUs.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <!--============================================ FONTS ==========================================-->
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
        <!--============================================ Extras =========================================-->
        <% include partials/defaultLinks&Scripts %>
    </head>
    <body class="home-body">
        <div class="row m-0">
			<div class="titleHeader p-t-10 p-b-10 m-b-25">
				<div class="col-sm-12">
					<div class="container m-l-30">
						<h1 class="siteTitle">Playmate</h1>
						<h2 class="subtitle">Easily find sport partners</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
    		<article>
    		    <h1 class="title">Our Story</h1>
		        <p>
		            We are Playmate. We built a platform that provides a true solution to a known problem. <br> 
		            Let's say you want to go for jogging or cycling. Usually, if you want someone to do the activity with, <br> 
		            you reach your friends by calling or texting, or try to use the social media. <br>
		            most of the time this ways leave you frustrated, and delaying your workout.
		        </p>    
    		</article>
		</div>
    </body>
</html>