<!doctype html>
<html>
    <head>
        <title>Playmate - Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/aboutUs.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <!--============================================ FONTS ==========================================-->
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
        <!--============================================ Extras =========================================-->
        <% include partials/defaultLinks&Scripts %>
    </head>
    <body class="home-body">
        <% include partials/header %>
        
    </body>
</html>