<!DOCTYPE html>
<html lang="en">
<head>
    <title>Playmate - add an event</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="/js/auto-complete.js"></script>
    <!--============================================ FONTS ==========================================-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Poppins:400,500" rel="stylesheet">
    
    <!--===============================================================================================-->
	<script src="css/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    	<script src="css/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    	<script src="css/bootstrap/js/popper.js"></script>
    	<script src="css/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    	<script src="css/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    	<script src="css/daterangepicker/moment.min.js"></script>
    	<script src="css/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    	<script src="css/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    
    <!--============================================ Extras =========================================-->
    <% include partials/defaultLinks&Scripts %>
    <% include partials/specialStyles %>
</head>
<body>
	<% include partials/header %>
	<main>
        <div class="container-login100 col-sm-12 col-md-7 col-centered">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <h2 class="headline">Create Event</h2>
                <form action="/events" method="POST" class="login100-form validate-form flex-sb flex-w">
					
                    <p class="txt1 m-t-20 col-md-12">Event Name</p>
                    <div class="wrap-input100 validate-input" data-validate="Event name is required">
                        <input class="input100" tabindex="1" type="text" name="event[name]" placeholder="My event name is...">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Sport Type</p>
                    <div class="wrap-input100 validate-input" data-validate="Sport type is required">
                        <select class="input100" tabindex="2" name="event[type]" size="1">
							<option value="Football"> Football </option>
							<option value="Basketball"> Basketball </option>
							<option value="Running"> Running </option>
							<option value="Swimming"> Swimming </option>
							<option value="TRX"> TRX </option>
							<option value="Tennis"> Tennis </option>
							<option value="Bowling"> Bowling </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
                    <p class="txt1 p-t-13 p-b-9 col-md-12">District</p>
                    <div class="wrap-input100 validate-input" id="pac-container" data-validate="Location is required">
                        <select class="input100" tabindex="3" name="event[district]" size="1">
							<option value="North"> North </option>
							<option value="Haifa"> Haifa </option>
							<option value="Center"> Center </option>
							<option value="Tel Aviv"> Tel Aviv </option>
							<option value="Jerusalem"> Jerusalem </option>
							<option value="South"> South </option>
							<option value="Beer Sheva"> Beer Sheva </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>

                    <p class="txt1 p-t-13 p-b-9 col-md-12">Location</p>
                        <div class="wrap-input100 validate-input" data-validate="Location Of Event is required">
                            <input id="autocomplete" tabindex="4" class="input100" onFocus="geolocate()" type="text" name="event[location]" placeholder="Enter a location">
                            <span class="focus-input100"></span>
                        </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Date Of Event</p>
                    <div class="wrap-input100 validate-input" data-validate="Date Of Event is required">
                        <input class="input100" tabindex="5" type="date" name="event[date]">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Time Of Event</p>
                    <div class="wrap-input100 validate-input col-md-6" data-validate="Time Of Event is required">
                        <input class="input100" tabindex="6" type="time" placeholder="Starts at..." name="event[startTime]">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input col-md-6" data-validate="Time Of Event is required">
                        <input class="input100" tabindex="7" type="time" placeholder="Ends at..." name="event[endTime]">
                        <span class="focus-input100"></span>
                    </div>
                
                    <p class="txt1 p-t-13 p-b-9 col-md-12">Minimum Participants</p>
                    <div class="wrap-input100 validate-input" data-validate="Minimum number of participants are required">
                        <input class="input100" tabindex="8" type="number" name="event[minNumOfParticipants]">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Maximum Participants</p>
                    <div class="wrap-input100 validate-input" data-validate="Maximum number of participants are required">
                        <input class="input100" tabindex="9" type="number" name="event[maxNumOfParticipants]">
                        <span class="focus-input100"></span>
                    </div>
					
					<p class="txt1 p-t-13 p-b-9 col-md-12">Minimum Participant Level</p>
                    <div class="wrap-input100 validate-input" data-validate="Minimum level of participants are required">
                        <select class="input100" tabindex="10" name="event[minLevel]" size="1">
							<option value="Noob"> Noob </option>
							<option value="Rookie"> Rookie </option>
							<option value="Intermediate"> Intermediate </option>
							<option value="Advanced"> Advanced </option>
							<option value="Master"> Master </option>
						</select>
                        <span class="focus-input100"></span>
                    </div>
					
					<%if(groupID != undefined){ %>
					    <input type="hidden" name="event[groupID]" value="<%= groupID %>" >
					<% } %>
                    <div class="col-md-12 m-t-17 container-login100-form-btn">
                        <button type="submit" tabindex="11" class="login100-form-btn">
							Create Event
						</button>
                    </div>
                </form>
            </div>
        </div>
	</main>
	
	<div id="dropDownSelect1"></div>
	

   
    <script>
        function init() {
            var input = document.getElementById('locationTextField');
            var autocomplete = new google.maps.places.Autocomplete(input);
        }
 
        google.maps.event.addDomListener(window, 'load', init);
    </script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-91Qs3aLTnNym02hCT_Mf6mQQq9XWLKA&libraries=places&callback=initAutocomplete"></script>
<link rel="stylesheet" type="text/css" href="/css/header.css">
</body>

</html>
<!--my key = AIzaSyC-91Qs3aLTnNym02hCT_Mf6mQQq9XWLKA-->
<!--AIzaSyD9i6uRrNyvxAtRoEzx8TcnXsjwY_M3c_I-->