<!doctype html>
<html>
    <head>
        <title>Playmate - Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/css/images/icons/Playmate logo.ico"/>
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
        <!--Glyphicons-->
        <link rel="stylesheet" type="text/css" href="/css/util.css">
        <link rel="stylesheet" type="text/css" href="/css/default.css">
        <link rel="stylesheet" type="text/css" href="/css/homePage.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <!--============================================ FONTS ==========================================-->
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <!--============================================ Jquery ==========================================-->
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body class="home-body">
        <% include partials/header %>
        <main class="container home-main">
            <% include partials/errorHandeling %>
            <div class="row">
                <div class="col-sm-12 col-md-3"></div>
                <div class="col-sm-12 col-md-6">
                    <% include partials/searchBar %>
                    <!--//////////////// CARDS /////////////////////////////-->
                    <% if(groups.length == 0 && events.length == 0){ %>
                        <div class="card text-center cardEvent">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">No pending events or groups</h5>
                        </div>
                        <div class="card-footer text-muted">
                        </div>
                    </div>
                    <% }else{ %>
                    <% var group=0,event=0; %>
                    <%while((group+event)<(groups.length+events.length)){%>
                        <%if(group>=groups.length){%>
                            <% include partials/eventCard %>
                            <% event++;%>
                        <% }else if(event>=events.length){ %>
                            <% include partials/groupCard %>
                            <% group++; %>
                        <% }else if(groups[group].dateOfCreation > events[event].dateOfCreation){%>
                            <% include partials/groupCard %>
                            <% group++;%>
                        <% }else{ %>
                            <% include partials/eventCard %>
                            <% event++; %>
                        <% } } } %>
                    
                    <!--/////////////////////EXAMPLES///////////////-->
            <!--        <div class="card text-center cardEvent">-->
            <!--            <div class="card-header">-->
            <!--                Running - Advenced-->
            <!--            </div>-->
            <!--            <div class="card-body">-->
            <!--                <h5 class="card-title">5km run</h5>-->
            <!--                <p class="card-text">circle running at 9pm starting at hertzel st. 15</p>-->
            <!--                <a href="#" class="btn btn-primary">Go to event</a>-->
            <!--            </div>-->
            <!--            <div class="card-footer text-muted">-->
            <!--                5 days ago-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="card text-center">-->
            <!--            <div class="card-header">-->
            <!--                Featured-->
            <!--            </div>-->
            <!--            <div class="card-body">-->
            <!--                <h5 class="card-title">Special title treatment</h5>-->
            <!--                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
            <!--                <a href="#" class="btn btn-primary">Go to event</a>-->
            <!--            </div>-->
            <!--            <div class="card-footer text-muted">-->
            <!--                2 days ago-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="card text-center">-->
            <!--            <div class="card-header">-->
            <!--                Featured-->
            <!--            </div>-->
            <!--            <div class="card-body">-->
            <!--                <h5 class="card-title">Special title treatment</h5>-->
            <!--                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
            <!--                <a href="#" class="btn btn-primary">Go to event</a>-->
            <!--            </div>-->
            <!--            <div class="card-footer text-muted">-->
            <!--                2 days ago-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="card text-center">-->
            <!--            <div class="card-header">-->
            <!--                Featured-->
            <!--            </div>-->
            <!--            <div class="card-body">-->
            <!--                <h5 class="card-title">Special title treatment</h5>-->
            <!--                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
            <!--                <a href="#" class="btn btn-primary">Go to event</a>-->
            <!--            </div>-->
            <!--            <div class="card-footer text-muted">-->
            <!--                2 days ago-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--    <div class="col-sm-12 col-md-3"></div>-->
            <!--</div>-->
        </main>
        
        <script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>
        
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="/css/bootstrap/js/bootstrap.min.js"></script>
        <!--<script src="/css/bootstrap/js/popper.min.js"></script>-->
    </body>
</html>