<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Playmate - Sign Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/css/images/icons/Playmate logo.ico" />
        <link rel="stylesheet" type="text/css" href="/css/signup.css">
        <link rel="stylesheet" type="text/css" href="/css/search.css">
        <!--============================================ FONTS ==========================================-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Poppins:400,500" rel="stylesheet">
        <!--============================================ Extras =========================================-->
        
        <% include partials/defaultLinks&Scripts %>
        <% include partials/specialStyles %>
    </head>
    <body>
        <main>
            <div class="container-login100  col-sm-12 col-md-7 col-centered">
                <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                    <h2 class="headline">Sign Up</h2>
                    <form action="/imageUpload" method="POST" enctype="multipart/form-data" id="imageUpload">
                        <div class="col-sm-12 col-md-6 center">
                            <p class="txt1 m-t-20">Profile Image</p>
                            <div class="wrap-input100 validate-input resizeImgInput" data-validate="Profile Image is required">
                                <input type="file" name="avatar" tabindex="1" id="avatar" accept="css/images/*" onchange="preview_image(event)">
                                <button id="upload" value="Upload" />
                                <% if(image == undefined){ %>
                                    <img id="output_image" />
                                    <% }else{ %>
                                        <img src="/images/<%= image %>" id="output_image" />
                                        <% } %>
                            </div>
                        </div>
                    </form>
                    <form action="/signup" method="POST" id="detailsUpload" class="login100-form validate-form flex-sb flex-w">
                        <p class="txt1 m-t-20">Username</p>
                        <div class="wrap-input100 validate-input col-sm-12" data-validate="Username is required">
                            <input class="input100" tabindex="2" type="text" name="user[username]" placeholder="My user name is...">
                            <span class="focus-input100"></span>
                        </div>
    
                        <p class="txt1 p-t-13 p-b-9">Password</p>
                        <div class="wrap-input100 validate-input col-sm-12" data-validate="Password is required">
                            <input class="input100" tabindex="3" type="password" name="user[password]" placeholder="My password is...">
                            <span class="focus-input100"></span>
                        </div>
    
                        <p class="txt1 p-t-13 p-b-9 col-sm-12">E-mail</p>
                        <div class="wrap-input100 validate-input" data-validate="E-mail is required">
                            <input class="input100" tabindex="4" type="email" name="user[email]" placeholder="My E-mail is...">
                            <span class="focus-input100"></span>
                        </div>
    
                        <p class="txt1 p-t-13 p-b-9 col-sm-12">Date Of Birth</p>
                        <div class="wrap-input100 validate-input" data-validate="Date Of Birth is required">
                            <input class="input100" tabindex="5" type="date" name="user[dateOfBirth]">
                            <span class="focus-input100"></span>
                        </div>
    
                        <p class="txt1 p-t-13 p-b-9 col-md-12">District</p>
                        <div class="wrap-input100 validate-input" id="pac-container" data-validate="Location is required">
                            <select class="input100" tabindex="6" name="user[district]" size="1">
    							<option value="North"> North </option>
    							<option value="Haifa"> Haifa </option>
    							<option value="Center"> Center </option>
    							<option value="Tel Aviv"> Tel Aviv </option>
    							<option value="Jerusalem"> Jerusalem </option>
    							<option value="South"> South </option>
    							<option value="Beer Sheva"> Beer Sheva </option>
    						</select>
                            <span class="focus-input100"></span>
                        </div>
                        
                        <div class="container-login100-form-btn col-sm-12 m-t-17">
                            <button class="login100-form-btn" tabindex="7" type="submit">
    							Sign Up
    						</button>
                        </div>
                    </form>
                    </div>
                </div>
        </main>
    
        <!--===============================================================================================-->
        <script src="/css/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="/css/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="/css/bootstrap/js/popper.js"></script>
        <script src="/css/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="/css/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="/css/daterangepicker/moment.min.js"></script>
        <script src="/css/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="/css/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="js/login.js"></script>
        <script src="js/register.js"></script>
    </body>
</html>
