/*====================NAVBAR====================*/

.nav-settings{
	width: 100%;
}

.profile-pic {
	border-radius: 50%;
}

.username-nav{
	font-size: 25px;
	padding:5px;
	font-family:Poppins-Regular, sans-serif;
}

.username-nav:hover{
	font-weight:bold;
	/*cursor:pointer;*/
}

.logo-settings{
	font-family: 'Courgette', cursive !important;
	font-size: 30px;
	margin-right: 10px;
}

.logo-settings:hover{
	font-weight:bold;
}

.nav-colors{
	background-color:#143775!important;
	color:white;
	height: 65px;
}

.drop-button{
	color:white!important;
	font-size: 25px;
	font-family: Poppins-Regular, sans-serif;
}

.drop-button:hover{
	color:white!important;
	font-weight:bold;
}

.drop-menu{
	background: #143775!important;
	margin-top: 7px;
	border-radius: 0px;
	box-shadow: 0px 2px 10px 0px rgba(0, 7, 53, 0.58)
}

.drop-menu > a{
	color: white;
	font-family: Poppins-Regular, sans-serif;
}

.drop-menu > a:hover{
	color:#143775;
	font-weight:bold;
}

.drop-menu-user{
	background: #143775!important;
	margin-top: 7px;
	margin-left: -137px;
	width: 115px;
	border-radius: 0px;
	box-shadow: 0px 2px 10px 0px rgba(0, 7, 53, 0.58)
}

.drop-menu-user > a{
	color: white;
	font-family: Poppins-Regular, sans-serif;
}

.drop-menu-user > a:hover{
	color:#143775;
	font-weight:bold;
}

.dropdown-item {
	font-size: 18px;
}

@media (max-width: 767px){

	.right-part{
		padding-bottom:15px;
		margin-right:10px;
	}
	
}

@media (max-width: 605px){
	.logo-settings{
		font-size:22px;
		margin-top:4px;
	}
	
	.username-nav{
		font-size:20px;
	}
	
	.drop-button{
		font-size:20px;
		margin-top:5px;
	}
	
	.right-part{
		margin-right:-10px;
	}
}

@media (max-width: 510px){
	
	.logo-settings{
		font-size:20px;
		margin-top:4px;
	}
	
	.username-nav{
		font-size:18px;
	}
	
	.drop-button{
		font-size:18px;
		margin-top:5px;
	}
}



@media (max-width: 480px){
	
	.logo-settings{
		font-size:20px;
	}
	
	.username-nav{
		font-size:16px;
		padding-bottom:5px;
	}
	
	.drop-button{
		font-size:16px;
		margin-top:7px;
	}
	
	.right-part{
		margin-top:-3px;
	}

}

@media (max-width: 460px){
	.logo-settings{
		font-size:20px;
		margin-top:7px;
	}
	
	.username-nav{
		font-size:13px;
		padding-bottom:5px;
	}
	
	.drop-button{
		font-size:13px;
		margin-top:10px;
	}
}

@media (max-width: 420px){
	.logo-settings{
		font-size:18px;
	}
	
	.username-nav{
		font-size:12px;
		padding-bottom:5px;
	}
	
	.drop-button{
		font-size:12px;
		margin-top:10px;
	}
}

@media (max-width: 400px){
	.logo-settings{
		font-size:16px;
	}
	
	.username-nav{
		font-size:11px;
		padding-bottom:5px;
	}
	
	.drop-button{
		font-size:11px;
		margin-top:10px;
	}
}


@media (max-width: 380px){
	.logo-settings{
		font-size:16px;
	}
	
	.username-nav{
		font-size:10px;
	}
	.drop-button{
		font-size:10px;
	}
}

@media (max-width: 360px){
	.nav-colors{
		width: 360px;
	}
	
	.logo-settings{
		margin-top:9px;
	}
	
	.username-nav{
		
		
	}
	
	.drop-button{
		margin-top:12px;
		
	}
	
	.right-part{
		margin-right:-4px;
	}
	
	
}


