.navStyle {
  background-color: #143775;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 10px 0px rgba(1, 79, 82, 0.58);
  overflow: visible;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;
}

header a {
  color: white;
}

.a-nav {
  text-decoration: none;
  color: inherit;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
}

.navbar-nav {
  margin: 5px 10px;
}

.nav-item {
  margin-left: 5px;
}

.nav-link {
  font-size: 20px;
}

.siteBrand {
  font-family: 'Courgette', cursive;
  font-size: x-large;
  color: white;
  padding: .31rem 0 .31rem;
  line-height: inherit;
  display: inline-block;
}

.createBtn {
  font-size: x-large;
}

.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 0px;
}

.usernameNav {
  font-size: 20px;
  padding: 8px;
}

div.dropdown.open {
  height: 25px;
}
