.titleHeader {
    background-color: #143775;
    color: white;
    width: 100%;
}

.siteTitle {
    font-size: 45px;
    font-family: 'Courgette', cursive;
}

.subtitle {
    color:white;
    font-size: 28px;
}