.titleHeader {
    background-color: #143775;
    color: white;
    width: 100%;
}

.siteTitle {
    font-size: 45px;
    font-family: 'Courgette', cursive !important;
    margin-bottom:10px;
    margin-left:-30px;
}

.subtitle{
    font-size:17px;
    margin-left:10px;
}